@font-face {
  font-weight: normal;
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Extrabold.woff) format('woff');
}

@font-face {
  font-weight: lighter;
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Light.woff) format('woff');
}

@font-face {
  font-weight: normal;
  font-family: "DINPro";
  src: url(../../fonts/DINPro.woff) format('woff');
}



.third-slide__brand-name {
  position: absolute;
  top: 210px;
  left: 345px;

  font: lighter 95px/1.2 "Gilroy", sans-serif;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  z-index: 2;
}

.third-slider {
    position: relative;
    width: 1024px;
    height: 768px;
    display: flex;
    flex-shrink: 0;
	padding: 180px 50px 0 70px;
}

.third-slide__bubble-1 {
  position: absolute;
  top: 220px;
  left: 45px;
  width: 40px;

  -webkit-animation: 'third-slide__bubble1' 6s infinite alternate ease-in-out;

  z-index: 1;
}

@-webkit-keyframes third-slide__bubble2 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

.third-slider img {
    pointer-events: none;
}
.third-slide__bottle {
  
    z-index: 2;
    position: absolute;
    bottom: 180px;
    left: 60px;
    z-index: 2;
	height: 689px;
	width: 233px;
}

@-webkit-keyframes third-slide__bubble1 {
  from {
    -webkit-transform: translate(-10%, 0%);
  }
  to {
    -webkit-transform: translate(140%, 30%);
  }
}

.third-slide__bubble-2 {
  position: absolute;
  bottom: 520px;
  left: 220px;
  width: 105px;

  -webkit-animation: 'third-slide__bubble2' 5s infinite alternate ease-in;

  z-index: 1;
}

@-webkit-keyframes third-slide__bubble3 {
  from {
    -webkit-transform: translate(-40%, 50%);
  }
  to {
    -webkit-transform: translate(30%, -50%);
  }
}

.third-slide__bubble-3 {
  position: absolute;
  top: 100px;
  left: 240px;
  width: 40px;

  -webkit-animation: 'third-slide__bubble3' 6s infinite alternate linear;

  z-index: 1;
}

@-webkit-keyframes third-slide__bubble4 {
  from {
    -webkit-transform: scale(1) translate(0%, -30%);
  }
  to {
    -webkit-transform: scale(1.2) translate(0%, 30%);
  }
}

.third-slide__bubble-4 {
  position: absolute;
  bottom: 290px;
  left: 270px;
  width: 55px;
  -webkit-animation: 'third-slide__bubble4' 8s infinite alternate linear;

  z-index: 1;
}

@-webkit-keyframes third-slide__bubble5 {
  from {
    -webkit-transform: scale(1) translate(0%, 0%);
  }
  to {
    -webkit-transform: scale(1) translate(50%, 30%);
  }
}

.third-slide__bubble-5 {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 65px;

  -webkit-animation: 'third-slide__bubble5' 5s infinite alternate linear;

  z-index: 3;
}

@-webkit-keyframes third-slide__bubble6 {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

.third-slide__bubble-6 {
  position: absolute;
  bottom: 80px;
  left: 250px;
  width: 130px;

  -webkit-animation: 'third-slide__bubble6' 7s infinite alternate linear;

  z-index: 3;
}

@-webkit-keyframes third-slide__bubble7 {
  from {
    -webkit-transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-30%, -60%);
  }
}

.third-slide__bubble-7 {
  position: absolute;
  bottom: 390px;
  left: 30px;
  width: 40px;

  -webkit-animation: 'third-slide__bubble7' 3s infinite alternate ease-in;

  z-index: 3;
}

@-webkit-keyframes third-slide__bubble8 {
  from {
    -webkit-transform: scale(1) translate(0%, 0%);
  }
  to {
    -webkit-transform: scale(1.1) translate(30%, 10%);
  }
}

.third-slide__bubble-8 {
  position: absolute;
  bottom: 280px;
  left: 25px;
  width: 60px;

  -webkit-animation: 'third-slide__bubble8' 3s infinite alternate ease-in;

  z-index: 3;
}

.keymessage-box {
  position: relative;
  margin-left: 281px;
  margin-top: -20px;
}

.advantages-box__title {
  font: 26px "DINPro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 5px;
  

}

.keymessage-box__title {
  font: 26px "DINPro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;

}

.keymessage-box__columns-2 {
 
   margin-top: 150px;
   display: flex;
   flex-direction: row;
}

.keymessage-box__column-1 {
	width: 380px;
}

.keymessage-box p {
  margin-top: 15px;
  font: 24px/1.2 "DINPro", sans-serif;
  color: #2e2e2e;
  letter-spacing: 1px;
  width: 250px;
}

.keymessage-box__btn-about {
  position: absolute;
  left: 330px;
  bottom: -90px;
  background: none;
  border: none;
}

.keymessage-box::after {
  position: absolute;

  left: -100px;
  bottom: -85px;

  width: 400px;
  height: 275px;

  background: #fff;
  box-shadow: 0 0 30px 2px #dad9da;
  border-radius: 40px;

  content: '';

  z-index: -1;
}

.keymessage-box::before {
  position: absolute;

  left: 335px;
  bottom: 20px;

  width: 265px;
  height: 170px;

  background: #fff;
  box-shadow: 0 0 30px 2px #dad9da;
  border-radius: 40px;

  content: '';

  z-index: -1;
}

@-webkit-keyframes advantages-box__bg-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.advantages-box__background-dark {
  width: 100%;
  background: #16273e;

  -webkit-animation: 'advantages-box__bg-opacity' 500ms 1 alternate linear;

  opacity: 0.7;
  margin-top: -180px;
  margin-left: -70px;
}

.advantages-box {
  position: relative;

  width: 610px;
  height: 530px;
  margin-top: 130px;
  margin-left: 160px;

  padding-top: 20px;
  padding-left: 190px;

  opacity: 1;

  border-radius: 40px;
  background: #fff;
}

.advantages-box__btn-close {
  position: absolute;

  top: 38px;
  right: 30px;
  background: none;
  border: none;
}

.advantages-box__btn-left {
  position: unset;
  background: none;
  border: none;
}

.advantages-box__btn-right {
  position: unset;
  transform: scale(-1, 1);
  background: none;
  border: none;
}

.advantages-box__button {
  position: absolute;
  bottom: 30px;
  background: none;
  border: none;
}

.advantages-box__list {
  font: 23px/1.3 "DINPro", sans-serif;

  margin-top: 150px;
  padding-right: 150px;
}

.advantages-box__item-number {
  font: bold 23px/1 "Gilroy", sans-serif;
  color: #8cc9e8;
}

.advantages-box__list p {
  margin-top: 0;
  margin-bottom: 20px;
}



