@font-face {
  font-weight: normal;
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Regular.woff2) format('woff2');
}

@font-face {
  font-weight: bold;
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Extrabold.woff) format('woff');
}

@font-face {
  font-weight: lighter;
  font-family: "Gilroy";
  src: url(../../fonts/Gilroy-Light.woff) format('woff');
}


.brand-name {
  position: absolute;
  top: 140px;
  left: 345px;

  font: lighter 95px/1.2 "Gilroy", sans-serif;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  z-index: 2;
}

.bottle {
	z-index: 2;
}

.slider {
    position: relative;
    width: 1024px;
    height: 768px;
    display: flex;
    flex-shrink: 0;
	padding: 180px 50px 0 70px;
}

.bubble-1 {
  position: absolute;
  top: 220px;
  left: 60px;
  width: 45px;

  -webkit-animation: 'bubble1' 7s infinite alternate ease-in-out;

  z-index: 1;
}

@-webkit-keyframes bubble2 {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

.bottle {
  
  z-index: 2;
}

@-webkit-keyframes bubble1 {
  from {
    -webkit-transform: translate(-10%, 0%);
  }
  to {
    -webkit-transform: translate(140%, 30%);
  }
}

.bubble-2 {
  position: absolute;
  bottom: 400px;
  left: 250px;
  width: 120px;

  -webkit-animation: 'bubble2' 3s infinite alternate ease-in;

  z-index: 1;
}

@-webkit-keyframes bubble3 {
  from {
    -webkit-transform: translate(-40%, 50%);
  }
  to {
    -webkit-transform: translate(30%, -50%);
  }
}

.bubble-3 {
  position: absolute;
  top: 150px;
  left: 240px;
  width: 45px;

  -webkit-animation: 'bubble3' 5s infinite alternate linear;

  z-index: 1;
}

@-webkit-keyframes bubble4 {
  from {
    -webkit-transform: scale(1) translate(0%, -30%);
  }
  to {
    -webkit-transform: scale(1.2) translate(0%, 30%);
  }
}

.bubble-4 {
  position: absolute;
  bottom: 280px;
  left: 300px;
  width: 60px;
  -webkit-animation: 'bubble4' 7s infinite alternate linear;

  z-index: 1;
}

@-webkit-keyframes bubble5 {
  from {
    -webkit-transform: scale(1) translate(0%, 0%);
  }
  to {
    -webkit-transform: scale(1) translate(50%, 30%);
  }
}

.bubble-5 {
  position: absolute;
  top: 270px;
  left: 230px;
  width: 70px;

  -webkit-animation: 'bubble5' 2s infinite alternate linear;

  z-index: 3;
}

@-webkit-keyframes bubble6 {
  from {
    -webkit-transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}

.bubble-6 {
  position: absolute;
  bottom: 80px;
  left: 250px;
  width: 130px;

  -webkit-animation: 'bubble6' 7s infinite alternate linear;

  z-index: 3;
}

@-webkit-keyframes bubble7 {
  from {
    -webkit-transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-30%, -60%);
  }
}

.bubble-7 {
  position: absolute;
  bottom: 350px;
  left: 30px;
  width: 45px;

  -webkit-animation: 'bubble7' 3s infinite alternate ease-in;

  z-index: 3;
}

@-webkit-keyframes bubble8 {
  from {
    -webkit-transform: scale(1) translate(0%, 0%);
  }
  to {
    -webkit-transform: scale(1.1) translate(30%, 10%);
  }
}

.bubble-8 {
  position: absolute;
  bottom: 250px;
  left: 25px;
  width: 60px;

  -webkit-animation: 'bubble8' 3s infinite alternate ease-in;

  z-index: 3;
}