@font-face {
  font-weight: bold;
  font-family: "DINPro";
  src: url('../../fonts/DINPro.woff') format('woff');
}

@font-face {
  font-weight: normal;
  font-family: "DINPro";
  src: url('../../fonts/DINPro.woff') format('woff');
}


.next-slide {
  position: relative;

  width: 1024px;
  height: 768px;

  display: flex;
  flex-shrink: 0;
}

.next-slide__content {
  position: relative;
  
  text-align: left;
  padding: 130px 50px 0 70px;
}

.next-slide__title {
  font: 26px "DINPro", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  
  margin-bottom: 30px;
}

.next-slide__text-box {
  position: relative;

  width: 700px;
  height: 350px;
  
  margin-top: 95px;
  margin-left: 30px;
  padding: 0px 120px 30px 70px;

  overflow-x: hidden;
  /* direction: rtl; */
}

p {
  font: 20px/1.5 "DINPro", sans-serif;
}

.bg-box {
  position: absolute;

  top: 265px;
  left: 130px;

  width: 770px;
  height: 420px;

  border-radius: 30px;

  background: #fff;
  box-shadow: 0 0 30px 2px #dad9da;

  z-index: -1;
}

.shadow-box {
  position: absolute;

  top: 265px;
  left: 130px;

  width: 770px;
  height: 425px;

  border-radius: 30px;

  box-shadow: inset 0 -40px 20px -5px #fff;

  z-index: 1;
}

.bg-box::before {
  display: block;
  position: absolute;
  top: 13px;
  left: -52px;

  width: 4px;
  height: 97%;

  background: black;

  content: '';
}

.next-slide__text-box ::-webkit-scrollbar {
 width: 20px;
}

.next-slide__text-box ::-webkit-scrollbar-thumb {
  border-radius: 20em;
  background: no-repeat url('../../images/secondSlide/thumb.png');
}

@-webkit-keyframes sperm {
  from {
    opacity: 0;
    -webkit-transform: translate(50%, 70%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}

.sp-1 {
  position: absolute;
  top: 100px;
  left: 360px;

  z-index: -2;
}

.sp-2 {
  position: absolute;
  top: 100px;
  left: 570px;

  z-index: -2;
}

.sp-3 {
  position: absolute;
  top: 75px;
  left: 710px;

  z-index: -2;
}

.sp-4 {
  position: absolute;
  bottom: 138px;
  right: -85px;

  z-index: -2;
}

.sp-5 {
  position: absolute;
  bottom: 125px;
  right: -430px;

  z-index: -2;
}
